{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
  <ul>
    {% for student in students %}
    <li>{{ student.name }} {{ student.group }}
      <!-- Преподаватель: {{ student.teacher.name }} {{ student.teacher.subject }}-->
      <br>Преподаватель:
      {% for teacher in student.teacher.all %}
      <ul>
        <li>{{ teacher.name }}: {{ teacher.subject }}</li>
      </ul>
      {% endfor %}

    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}